<mat-sidenav-container>
    <mat-sidenav position="start" mode="side" opened disableClose>
        <!-- Side bar -->
        <a mat-mini-fab color="primary" *ngFor="let channel of (channels$ | async)" (click)="selectChannel(channel.title)">
            <img class="channel-picture" [src]="channel.picture" [matTooltip]="channel.title" matTooltipPosition="right" />
        </a>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="(currentChannel$ | async ) as currentChannel">
        <!-- Contenu -->
        <div>
            <!-- liste de messages -->
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                <mat-chip-row *ngFor="let message of currentChannel.messages" selected [style.marginLeft]="false ? '50%': 'none'">
                  <img matChipAvatar [src]="message.picture"/>
                  {{ message.message }}
                </mat-chip-row>
            </mat-chip-listbox>
        </div>
        <div class="input-zone">
            <mat-form-field class="input-send no-bottom">
                <input matInput placeholder="Nouveau message." [(ngModel)]="text" />
            </mat-form-field>
            <button (click)="addMessageToOneChannel(currentChannel.title, text)" class="button-send" mat-flat-button extended color="primary">
                <mat-icon>send</mat-icon>
                Envoyer
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>